{% set flashes = get_flashed_messages(category_filter=['flash']) %}

<script src="{{ url_for('static', filename='js/alert.min.js') }}" defer></script>


<div class="container-messages">
    {% for flash in flashes %}
    <div class="message {{ flash[0] }}">
        <span class="close">
            <i class="">
                <svg width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2" class="icon icon-tabler icons-tabler-outline icon-tabler-x"
                    viewBox="0 0 24 24">
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <path d="M18 6 6 18M6 6l12 12" />
                </svg>
            </i>
        </span>
        <p>{{ flash[-1] }}</p>
        <span class="loader"></span>
    </div>
    {% endfor %}
</div>


{#
{% set session = get_flashed_messages(category_filter=['session'])[0] %}
{% if session %}
<div class="c_mensajes" id="Mensajes">
    <div class="mensaje {{ 'text-error' if session[0] == 'error' else ''}}">
        <p>{{ session[-1] }}</p>
        <div class="c_carga"></div>
    </div>
</div>
{% endif %}

#}