.env
Config.py
app/static/scss/
__pycache__/
app/__pycache__/
app/models/__pycache__/
app/routes/__pycache__/
app/decorators/__pycache__/
app_exe/
app/data/*.json
app/static/files/*
!app/data/locations.json
!app/data/cities.json
!app/data/departments.json
