<div class="content account scroll-min" data-name="Account" {{ ('show' if tag=='account' else '' ) if tag else 'show'
    }}>
    <div class="container-title">
        <h2>Account settings</h2>
    </div>
    <div class="container-form">
        <form action="{{ url_for('user.save_account') }}" method="POST">
            <div class="container-input">
                <label for="">Email address</label>
                <input type="email" name="email_address" value="{{ current_user.email_address }}" required>
            </div>
            <div class="container-input">
                <label for="">Google password</label>
                <input type="password" name="google_password" value="{{ current_user.google_password }}" required>
                <i class="i-password">
                    <svg width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-eye" viewBox="0 0 24 24">
                        <path stroke="none" d="M0 0h24v24H0z" />
                        <path d="M10 12a2 2 0 1 0 4 0 2 2 0 0 0-4 0" />
                        <path d="M21 12c-2.4 4-5.4 6-9 6-3.6 0-6.6-2-9-6 2.4-4 5.4-6 9-6 3.6 0 6.6 2 9 6" />
                    </svg>
                </i>
            </div>
            <div class="container-input"></div>
            <div class="container-input"></div>
            <div class="container-input">
                <label for="">CAprendizaje user</label>
                <input type="text" name="caprendizaje_user" value="{{ current_user.caprendizaje_user }}" required>
            </div>
            <div class="container-input">
                <label for="">CAprendizaje password</label>
                <input type="password" name="caprendizaje_password" value="{{ current_user.caprendizaje_password }}"
                    required>
                <i class="i-password">
                    <svg width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-eye" viewBox="0 0 24 24">
                        <path stroke="none" d="M0 0h24v24H0z" />
                        <path d="M10 12a2 2 0 1 0 4 0 2 2 0 0 0-4 0" />
                        <path d="M21 12c-2.4 4-5.4 6-9 6-3.6 0-6.6-2-9-6 2.4-4 5.4-6 9-6 3.6 0 6.6 2 9 6" />
                    </svg>
                </i>
            </div>
            <div class="container-button">
                <button>Save</button>
            </div>
        </form>
    </div>
</div>
