<div class="content black scroll-min" data-name="BlackList" {{ 'show' if tag and tag=='blacklist' else '' }}>
    <div class="container-title">
        <h2>Black List</h2>
    </div>

    {% if current_user.user_black_list %}

    <div class="container-departments">
        {% for departament, cities in companies_sorted.items() %}
        <div class="departament drop-down">
            <h3>
                {{ departament }}
                <i class="bi bi-chevron-down"></i>
            </h3>

            <div class="container-cities">
                {% for city, companies in cities.items() %}
                <div class="city drop-down">
                    <h3>
                        {{ city }}
                        <i class="bi bi-chevron-down"></i>
                    </h3>
                    <div class="container-emails">
                        <ul>
                            {% for company in companies %}
                            <li>{{ company['company_name'] }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{# <!-- for departamento, ciudades in companies_sorted.items():
    print(departamento)
    for ciudad, empresas in ciudades.items():
        print("\t-", ciudad)
        for empresa in empresas:
            print("\t\t-", empresa["company_name"]) --> #}

{# <div class="container-departments">

    <div class="departament drop-down">
        <h3>
            Boyaca
            <i class="bi bi-chevron-down"></i>
        </h3>

        <div class="container-cities">
            <div class="city drop-down">
                <h3>
                    Tunja
                    <i class="bi bi-chevron-down"></i>
                </h3>
                <div class="container-emails">
                    <ul>
                        <li>Empresa 1</li>
                        <li>Empresa 2</li>
                        <li>Empresa 3</li>
                        <li>Empresa 4</li>
                    </ul>
                </div>
            </div>
            <div class="city drop-down">
                <h3>
                    Otra
                    <i class="bi bi-chevron-down"></i>
                </h3>
                <div class="container-emails">
                    <ul>
                        <li>Empresa 1</li>
                        <li>Empresa 2</li>
                        <li>Empresa 3</li>
                        <li>Empresa 4</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="departament drop-down ">
        <h3>
            Boyaca
            <i class="bi bi-chevron-down"></i>
        </h3>

        <div class="container-cities">
            <div class="city drop-down">
                <h3>
                    Tunja
                    <i class="bi bi-chevron-down"></i>
                </h3>
                <div class="container-emails">
                    <ul>
                        <li>Empresa 1</li>
                        <li>Empresa 2</li>
                        <li>Empresa 3</li>
                        <li>Empresa 4</li>
                    </ul>
                </div>
            </div>
            <div class="city drop-down">
                <h3>
                    Otra
                    <i class="bi bi-chevron-down"></i>
                </h3>
                <div class="container-emails">
                    <ul>
                        <li>Empresa 1</li>
                        <li>Empresa 2</li>
                        <li>Empresa 3</li>
                        <li>Empresa 4</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> #}

{% else %}
<div class="container-message">
    <h3>No tienes empresas en tu lista negra</h3>
</div>
{% endif %}
</div>