<div class="content email" data-name="Email" {{ 'show' if tag and tag=='email' else '' }}>
    <div class="container-title">
        <h2>Email settings</h2>
    </div>
    <div class="container-form">
        <form action="{{ url_for('user.save_mail') }}" method="POST">
            <div class="container-input subject ">
                <label for="mail-subject">subject</label>
                <input type="text" id="mail-subject" name="subject" value="{{ current_user.mail.mail_subject }}" required>
            </div>
            <div class="container-input mail-content">
                <label for="mail-content">content</label>
                <textarea class="scroll-min" id="mail-content" name="content" required>{{ current_user.mail.mail_content }}</textarea>
            </div>

            <div class="container-button">
                <button>Save</button>
            </div>
        </form>
    </div>

</div>