{% extends "base_template.html" %}


{% block title %}
- Dashboard
{% endblock title %}

{% block other_accessories %}
{% endblock other_accessories %}

{% block accessories %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_dashboard.css') }}">
<script src="{{ url_for('static', filename='js/user_dashboard.js') }}" defer></script>
{% endblock accessories %}


{% block content %}
<header class="header">
    <div class="container-logo">
        <img src="{{ url_for('static', filename='images/logo_cm_minimalista.webp') }}" alt="">
    </div>
    <h1>Search CM</h1>
</header>

<div class="main">
    <div class="container-left-menu" min>
        <nav class="webs">
            <ul id="nav-web-caprendizaje">
                <li>
                    <a href="" class="container-name-ico">
                        <div class="container-name">
                            <p href="">CAprendizaje - SGVA</p>
                        </div>
                        <div class="container-ico">
                            <i class="">
                                <svg width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width="2"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down"
                                    viewBox="0 0 24 24">
                                    <path stroke="none" d="M0 0h24v24H0z" />
                                    <path d="m6 9 6 6 6-6" />
                                </svg>
                            </i>
                        </div>
                    </a>

                    <div class="container-actions">
                        <ul>
                            <li>
                                <a href="{{ url_for('user.view_user_search_emails') }}">
                                    Search emails
                                    <div class="container-icon">
                                        <i class="">
                                            <svg width="24" height="24" fill="none" stroke="currentColor"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                class="icon icon-tabler icons-tabler-outline icon-tabler-search"
                                                viewBox="0 0 24 24">
                                                <path stroke="none" d="M0 0h24v24H0z" />
                                                <path d="M3 10a7 7 0 1 0 14 0 7 7 0 1 0-14 0M21 21l-6-6" />
                                            </svg>
                                        </i>
                                    </div>
                                </a>

                            </li>
                            <li>
                                <a href="{{ url_for('user.view_user_send_emails') }}">
                                    Send mails
                                    <div class="container-icon">
                                        <i class="">
                                            <svg width="24" height="24" fill="none" stroke="currentColor"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                class="icon icon-tabler icons-tabler-outline icon-tabler-send"
                                                viewBox="0 0 24 24">
                                                <path stroke="none" d="M0 0h24v24H0z" />
                                                <path
                                                    d="M10 14 21 3M21 3l-6.5 18a.55.55 0 0 1-1 0L10 14l-7-3.5a.55.55 0 0 1 0-1L21 3" />
                                            </svg>
                                        </i>
                                    </div>
                                </a>

                            </li>
                            <li>
                                <a href="{{ url_for('user.view_user_settings') }}">
                                    Settings
                                    <div class="container-icon">
                                        <i class="">
                                            <svg width="24" height="24" fill="none" stroke="currentColor"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                class="icon icon-tabler icons-tabler-outline icon-tabler-settings"
                                                viewBox="0 0 24 24">
                                                <path stroke="none" d="M0 0h24v24H0z" />
                                                <path
                                                    d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066-2.573c-.94-1.543.826-3.31 2.37-2.37 1 .608 2.296.07 2.572-1.065z" />
                                                <path d="M9 12a3 3 0 1 0 6 0 3 3 0 0 0-6 0" />
                                            </svg>
                                        </i>
                                    </div>
                                </a>

                            </li>
                        </ul>
                    </div>
                </li>
            </ul>

            <ul id="nav-min">
                <li><img src="{{ url_for('static', filename='images/logo-SENA.webp') }}" alt="Logo SGVA"></li>
            </ul>
        </nav>
        <nav class="user">
            <ul>
                <li class="li-max">
                    <a href="{{ url_for('auth.logout') }}">
                        <i class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-logout-2">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path
                                    d="M10 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2" />
                                <path d="M15 12h-12l3 -3" />
                                <path d="M6 15l-3 -3" />
                            </svg>
                        </i>
                        Logout
                    </a>
                </li>
                <li class="li-min">
                    <a href="{{ url_for('auth.logout') }}">
                        <i class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-logout-2">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path
                                    d="M10 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2" />
                                <path d="M15 12h-12l3 -3" />
                                <path d="M6 15l-3 -3" />
                            </svg>
                        </i>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="open-close-let-menu">
            <i id="i-open-close-menu" class="">
                <svg width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left" viewBox="0 0 24 24">
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <path d="m15 6-6 6 6 6" />
                </svg>
            </i>
        </div>
    </div>


    <div class="container-web">
        {% block content_dashboard %}
        POR FAVOR SELECCIONA UN OPCIÓN PARA VER EL CONTENIDO
        {% endblock content_dashboard %}
    </div>


</div>

{% endblock content %}