{% extends 'user/base_dashboard.html' %}
{% set tag = request.args.get('tag') %}




{% block other_accessories %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
<script src="{{ url_for('static', filename='js/settings.js') }}" defer></script>
{% endblock other_accessories %}


{% block content_dashboard %}
<div class="nav-settings">
    <ul>
        <li><a href="" data-name="Account" {{ (show if tag=='account' else '' ) if tag else 'show' }}>Account
                settings</a></li>
        <li><a href="" data-name="Email" {{ 'show' if tag and tag=='email' else '' }}>Email settings</a></li>
        <li><a href="" data-name="File" {{ 'show' if tag and tag=='file' else '' }}>File settings</a></li>
        <li><a href="" data-name="BlackList" {{ 'show' if tag and tag=='blacklist' else '' }}>Black list</a></li>
    </ul>
</div>
<div class="main-settings">



{% include 'user_components/settings/account.html' %}
{% include 'user_components/settings/email.html' %}
{% include 'user_components/settings/file.html' %}
{% include 'user_components/settings/black_list.html' %}




</div>
{% endblock content_dashboard %}